API_PORT=8080

RATE_LIMIT_MAX=5
RATE_LIMIT_TIME_WINDOW="1 minute"

REVIEWS_ENDPOINT="https://api.wallapop.com/bff/sales/reviews/user-profile"
REVIEWS_PROMPT="Write a 2 lines long review about this user based on the following reviews:"

OPENAI_API_KEY=""